extends /_components/_layout
block var
  - title = 'Topページ'
  - metas = {}
  - metas.keywords = 'keywords'
  - metas.description = 'Topページです'
block append body
  h1 Gulp
  a(href="./about.html") About
