form.p-form
  .p-form-item
    label.p-form-item__label お名前
    .p-form-item__content
      input.c-input(type='text', autocomplete='off')
  .p-form-item
    label.p-form-item__label 住所
    .p-form-item__content
      input.c-input(type='text', autocomplete='off')
